.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 { 
  color: ##61dafb;
  font-weight: normal;
  font-size: 40px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-transform: uppercase; 
  border: 2px solid #39c;
  width: 70%;
  margin: 45px;
  border-radius: 5px;
  }

h2 { 
  color: ##61dafb;
  font-weight: normal;
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-transform: uppercase; 
  border: 2px solid #39c;
  width: 70%;
  margin: 45px;
  border-radius: 5px;
  background: #e8edff;
  color: #339;
  }

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    margin: 45px;     
    width: 480px; 
    text-align: left;    
    border-collapse: collapse; }

th {     
  font-size: 13px;     
  font-weight: normal;     
  padding: 10px;     
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;    
  border-bottom: 1px solid #fff; 
  color: #039; }

td {    
  padding: 8px;     
  background: #e8edff;     
  border-bottom: 1px solid #fff;
  color: #669;    
  border-top: 1px solid transparent; }

tr:hover td { 
  background: #d0dafd; 
  color: #339; }

input {
  font-size: 15px;     
  font-weight: normal;     
  margin-left: 45px; 
  padding: 8px;     
  background: #ffffff;
  border-top: 4px solid #aabcfe;  
  border: 2px solid #39c;  
  border-radius: 2px; 
  background-color: #e8edff; 
  color: #669;  
  width: 250px; 
}

.btn-search{
  font-weight: bold;     
  margin-left: 45px; 
  padding: 8px;     
  background: #ffffff;
  border-top: 4px solid #aabcfe;  
  border: 2px solid #39c;  
  border-radius: 5px;
  background-color: #e8edff; 
  color: #609;
  width: 250px;

}
.btn-search:hover{
  background-color: #d0dafd;
  color: #339;
}

.container{
  border: 2px solid #39c;
  padding: 10px;
  margin: 10px;
}

.texto-variable{
  width: 70%;
}
.rotulo-1{
  font-size: 15px;
}